* {
    box-sizing: border-box;
}

html {
    background-color: lightsteelblue;

}
body {
    margin: 0
}
.container {
    display: flex;
    justify-content: space-between;
    /* flex-flow: column wrap ; */
    /* align-items: center; */
    /* margin: auto; */
    /* height: fit-content; */
}
.nav-bar {
    width: 100%;
    text-align: center;
    background-color: ivory;
    border: blue dotted 2px;
    margin-bottom: 1em;
}
h3,h4,h5, .main-two.main{
    /* margin: 1em 0; */
}
.row-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-two.main {
    /* visibility: hidden; */
    inline-size: auto;
    flex-flow: column;
    background-color: beige;
    /* margin: 0 */
    position: absolute;
    right: 0%;
    /* flex: 1; */
    /* padding: 0; */
    z-index: 30;
    border: 2px dotted darkviolet
}
.player{
    margin: 0;
}
.preferences {
    /* display: none; */
    /* display: flex; */
}
.main {
    flex-flow: row wrap;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 1em;
    width: 100%;
    margin: 0 .5em;
    padding: 0 1em;
    border: antiquewhite solid 5px;
    z-index: 20;
}
section {
    width: 100%;
}
.game-status{
    display: flex;
    height: 4vh;
    justify-content: space-between;
}

.progress-meter {
    background-color: azure;
    border: cadetblue solid 2px;
    border-radius: 10em;
    margin: 3vh;
}
.progress-bar {
    width: 0%;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 10em;
    height: 2vh;
    background-color: chartreuse;
}

.quote-info {
    display: flex;
    font-size: larger;
}
.quote-box {
        /* justify-content: center; */
        font-size: 20px;
        align-items: center;
        margin: 1em 0em;
        padding: .5vh;
        border: #a59e9e 2px solid;
        border-radius: .3em;
        overflow: hidden;
        /* width: 75%; */
}
.quote-text {
    /* justify-content: center; */
    /* font-size: 20px;
    align-items: center;
    margin: 1em 0em;
    padding: .5vh;
    border: #a59e9e 2px solid;
    border-radius: .3em;
    width: 75%; */
}
.player-controls {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
 }
 .complete {
     color: lightseagreen;
 }
 .highlight {
     color: red;
 }
.type-area {
    /* display: flex; */
    width: 100%;
    padding: 6px 6px;
    font-size: 25px;
    margin: 1em 0;
}

/* @media (min-width: 467px) {
    .main {
        width: 90%
    }
} */
@media (min-width: 768px) {
    .main {
        max-width: 768px;
        width: 70%;
    }
}
@media (min-width: 1200px) {
    .main {
        max-width: 768px;
        /* width: 60%; */
    }
} 